.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(167, 160, 160);
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
 

}
.p-browser{
    height: 25px;
    display: flex;
    background-color: rgb(136, 131, 131);
    align-items: center;
    position: sticky;
    z-index: 1;
}
.p-circle{
    width:8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin: 3px;
}
.p-circle-1{
    overflow: hidden;
    height: 25px;
    position: sticky;
    left: 350px;
    padding-bottom: 20px;
    font-size: small;
    font-weight: bold;
    text-decoration:none;

    border-radius: 20%;
}
.p-img{
    width: 100%;
    transition: all 3s ease-in-out ;
}

.p:hover .p-img{
    transform: translateY(-95%)
}
@media screen and  (max-width: 480px){
    .p{
        width: 40%;
        height: 25vh;
        
    }
 
}